layout {

    focus-ring {
        active-color   "#678fe4"
        inactive-color "#000000"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#678fe4"
        inactive-color "#000000"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#09173470"
    }

    tab-indicator {
        active-color   "#678fe4"
        inactive-color "#0c358d"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#678fe480"
    }
}

recent-windows {
    highlight {
        active-color "#678fe4"
        urgent-color "#fd4663"
    }
}
