layout {

    focus-ring {
        active-color   "#6767e4"
        inactive-color "#000000"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#6767e4"
        inactive-color "#000000"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#1c1c2170"
    }

    tab-indicator {
        active-color   "#6767e4"
        inactive-color "#0c0c8d"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#6767e480"
    }
}

recent-windows {
    highlight {
        active-color "#6767e4"
        urgent-color "#fd4663"
    }
}
