layout {

    focus-ring {
        active-color   "#f78254"
        inactive-color "#000000"
        urgent-color   "#df460a"
    }

    border {
        active-color   "#f78254"
        inactive-color "#000000"
        urgent-color   "#df460a"
    }

    shadow {
        color "#291a1470"
    }

    tab-indicator {
        active-color   "#f78254"
        inactive-color "#992b00"
        urgent-color   "#df460a"
    }

    insert-hint {
        color "#f7825480"
    }
}

recent-windows {
    highlight {
        active-color "#f78254"
        urgent-color "#df460a"
    }
}
