layout {
    gaps 2
    
    // transparent workspaces
    background-color "transparent"
    center-focused-column "never"

    // controlled with super+R
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }
    focus-ring {
        off
    }
    border {
        off
    }

    shadow {
        off
        softness 15
        spread 10
        offset x=0 y=5
    }

    struts { }
}

overview {
    backdrop-color "#000"
    zoom 0.5
}