//Window rules
window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

//Firefox: picture-in-picture player as floating by default.
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

//KeePassXC: block from screen capture.
window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    block-out-from "screen-capture"
}

//Firefox: open maximized on workspace "a".
window-rule {
    match title="Firefox"
    open-maximized true
    open-on-workspace "a"
}

//Spotify: open maximized on workspace "a".
window-rule {
    match title="Spotify"
    open-maximized true
    open-on-workspace "a"
}

//Nautilus: open file/folder window floating and small size
window-rule {
    match app-id="xdg-desktop-portal-gtk"
    open-floating true
    default-column-width { fixed 900; }
    default-window-height { fixed 600; }
}
//Satty
window-rule {
    match app-id="com.gabm.satty"
    open-floating true
}

//otter-launcher: opens as floating window
window-rule {
    match app-id=r#"^otter-launcher$"#
    open-floating true
    default-column-width { fixed 500; }
    default-window-height { fixed 430; }
}

//fsel: open as floating window
window-rule {
    match app-id=r#"^fsel$"#
    open-floating true
    default-column-width { fixed 500; }
    default-window-height { fixed 430; }
}

//Default: rounded corners on all windows.
window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
}

//workspaces
workspace "a" { }
